@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bar {
    @apply h-1.5 w-full bg-accent rounded-md my-1 mx-0 origin-left transition-all duration-500;
  }

  .menu-items {
    @apply inline-block no-underline text-lg text-accent pb-1 border-accent transition-all ease-linear duration-200;
  }

  .menu-items:hover {
    border-bottom-width: 3px;
    transform: scale(1.1);
  }

  .btn {
    @apply inline-block h-full w-full px-5 py-1 border-2 border-accent hover:bg-accent font-medium text-accent hover:text-secondary transition duration-200 hover:transform hover:scale-105;
  }

  .contact-icons {
    @apply text-5xl;
  }
}

@layer utilities {
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
